// Custom colors
$white-1: #f6f7fb;
$white-2: #f7f8fa;
$white-3: #eff1f5;
$grey-hover: #555;
$pencil-grey: #666;
$active-teal: #009592;
$blu-white: #d6e7fb;
$nav-i-gold: #e6d873ee;
$david-gold: #f3e158ee;
$default-grey: #444444a3;

// Supposedly precise colors
$text-gray: #3f4954;
$text-light: #686666da;
$bg-color: #1a1a1a;
$site-white: #e5e5e5;
$midnight-blue: #104f55;

// Brand colors
$facebook-blue: #1877f2;
$twitter-1: #1ccacd;
$twitter-2: #00acee;
$youtube-red: #ff0000;

// Color palettes

