$font-nunito: "Nunito", cursive;
$font-comic: "ComicNeue", cursive;
$font-ubuntu: "Ubuntu", cursive;
$font-abel: "Abel", cursive;
$font-anton: "Anton", cursive;
$font-josefin: "Josefin Sans", cursive;
$font-lexend: "LexendDeca", cursive;
$font-livvic: "Livvic", cursive;
