$white-1: #f6f7fb;
$white-2: #f7f8fa;
$white-3: #eff1f5;
$grey-hover: #555;
$pencil-grey: #666;
$active-teal: #009592;
$blu-white: #d6e7fb;
$nav-i-gold: #e6d873ee;
$default-grey: #444444a3;

$text-gray: #3f4954;
$text-light: #686666da;
$bg-color: #1a1a1a;
$site-white: #e5e5e5;
$midnight-blue: #104f55;

$facebook-blue: #1877f2;
$twitter-1: #1ccacd;
$twitter-2: #00acee;
$youtube-red: #ff0000;

$white-grad: linear-gradient(120deg, #d6deeb 0%, #e1edf3 100%);

$shady-grad: linear-gradient(180deg, #00000058 0%, #00000058 100%);

$nova-grad: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

$navi-grad: linear-gradient(120deg, #babec4f3 0%, #c3dce7e9 100%);

$hova-grad: linear-gradient(120deg, #babec4f3 0%, #c3dce7e9 100%);

$slime-grad: linear-gradient(45deg, #a1fde1 0%, #c2e9fb 100%);

$box-shade: 0 15px 20px #00000033;

$font-nunito: "Nunito", cursive;
$font-comic: "ComicNeue", cursive;
$font-ubuntu: "Ubuntu", cursive;
$font-abel: "Abel", cursive;
$font-anton: "Anton", cursive;
$font-josefin: "Josefin Sans", cursive;
$font-lexend: "LexendDeca", cursive;
$font-livvic: "Livvic", cursive;
