main {
  .site-head {
    // background: $shady-grad, url(../../img/o/o10.jpg);
    background: $shady-grad, $winter-nova;
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    // align-content: center;
    // align-items: center;
    // align-self: center;

    .site-bg {
      padding-top: 10rem;
      text-align: center;
      color: $white-1;
    }

    h1,
    h3 {
      margin: 0.3rem;
    }

    .btn {
      margin: 1.8rem;
      background: $nova-grad;
    }

    .btn:hover {
      background: transparent;
      border: 1px solid $blu-white;
      color: $blu-white;
    }
  }
}
