@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/WorkSans[wght].ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: 'ComicNeue';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/ComicNeue-Regular.ttf)
}

@font-face {
    font-family: 'LexendDeca';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/LexendDeca[wght].ttf)
}

@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/Livvic-Regular.ttf)
}
