* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

:-moz-scrollbar {
    width: 5px;
}

:-moz-scrollbar:active {
    width: 7px;
}

/* Track */
:-moz-scrollbar-track {
    background: #fafafa;
}

/* Handle */
:-moz-scrollbar-thumb {
    background: #d7fdef;
}

/* Handle on hover */
:-moz-scrollbar-thumb:hover {
    background: #00ff9d;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:active {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d7fdef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ff9d;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
    background-image: url(./assets/img/bg.jpg);
}

.outline-none button {
    outline: none;
}

/* span {
  cursor: pointer;
} */
.wrapper:-moz-loading {
    background: rgb(0, 0, 0);
    width: 450px;
    border-radius: 16px;
    /* box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5); */
}

/* .wrapper:focus-within { */
.wrapper {
    background: #fbfbfb;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.icon-png-refresh {
    background-image: url(assets/img/refresh-black.png);
}

/* SignUp & Login Area */
.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    margin: 20px 0;
}

.form form .error-txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .success-txt {
    color: #015106;
    background: #78e668;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #2ab117;
    display: none;
}

.form form .name-details {
    display: flex;
}

form .name-details .field:first-child {
    margin-right: 10px;
}

form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label {
    margin-bottom: 2px;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 999px;
    cursor: pointer;
    outline: none;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover {
    text-decoration: underline;
}

/* End SignUp & Login Area */
/* Users Area */
.users {
    padding: 25px 30px;
}

.users header, .users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details {
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    color: #ccc;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 100px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    color: #11c78a;
    font-size: 10px;
    /* font-weight: 900; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Comic-Sans', 'Courier New', Courier, monospace, cursive;
}

/* .users .search .text {
  opacity: 0;
} */
.users .search input {
    outline: none;
    position: absolute;
    height: 40px;
    width: calc(100% - 50px);
    border: 0.5px solid #ccc;
    padding: 0px 65px;
    font-size: 16px;
    border-radius: 99px 99px;
    width: 200px;
    transition: width 0.4s ease-in-out;
}

.users .search input:focus {
    width: 101%;
    padding: 0px 67px;
    border-radius: 99px 99px 99px 99px;
    transition: width 0.9s ease-in-out;
}

/* .users .search input.active {
  opacity: 0;
  pointer-events: auto;
} */
.users .search button {
    position: relative;
    width: 60px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 99px 99px 0;
}

.users .search button:hover {
    color: #ffffff;
    background: #15f3a9;
}

.users .search button {
    border-radius: 99px 0 0 99px;
}

.users-list {
    max-height: 250px;
    overflow-y: auto;
}

/* .users-list::-webkit-scrollbar {
    width: 9px;
    scrollbar-highlight-color: #c2c2c2;
    border-radius: 99px;
    color: #000;
    scrollbar-color: black;
    background-color: rgb(171, 159, 197);
} */
.users-list a {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #0448dba2;
}

/* CSS Class to show that user is offline */
.users-list .status-dot.offline {
    color: #dddddd;
}

/* End Users Area */
/* Chat Area */
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #555;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(150% - 200px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(150% - 200px);
}

.incoming .details p {
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 40 px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    outline: none;
    border-radius: 99px 0 0 99px;
}

.typing-area button {
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 99px 99px 0;
}

/* .typing-area button {
    width: 55px;
} */
/* End Chat Area */
