main {
    .site-head {
        background: $slick-carbon;
        background-size: cover;
        height: 110vh;
        display: flex;
        justify-content: center;

        .site-bg {
            padding-top: 10rem;
            text-align: center;
            color: $white-1;
        }

        h1,
        h3 {
            margin: 0.3rem;
        }

        .btn {
            margin: 1.8rem;
            background: $hova-grad;
            color: $white-1;
        }

        .btn:hover {
            background: transparent;
            border: 1px solid $blu-white;
            color: $white-1;
        }
    }
}
